@import url(https://fonts.googleapis.com/css?family=Lato|Bree+Serif);

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
}

.outline-button {
    padding: 0.75rem 1.25rem;
    font-family: Lato, Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
    text-decoration: none;
}

.white {
    color: white;
    border: 1px solid white;
}

.lilac {
    color: #8980c2;
    border: 1px solid #8980c2;
}

/* Header or nav bar component */

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 0 1.5rem;
}

#brand {
    width: 50%;
    margin-bottom: 1rem;
}

nav {
    display: flex;
    justify-content: space-around;
    width: 100%;
}   

nav a {
    font-family: Lato, Arial, Helvetica, sans-serif;
    text-decoration: none;
    font-size: 1.25rem;
    color: #888
}

/* Hero component  */

#hero {
    /* position: relative; */
    display: flex;
    flex-direction: column;
    align-items: center;
    /* can also use percentages to position the background image in the container */
    /* good to choose another colour for the background if the image can't be displayed */
    background-blend-mode: multiply;
    background: #00000070 url(/images/zebra-hero.jpg) 33% no-repeat;
    /* cover will take the lowest dimension to fill the container */
    background-size: cover;
    /* don't need this one below maybe? */
    color: white;
    padding: 2rem 0;
}

/* this will darken the background image */
/* Background overlay. this means we can replace the image if we want and not have to do any image processing */

/* #hero * {
    position: relative;
    z-index: 1;
}


#hero:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    background-color: rgba(0, 0, 0, 0.5);
} */


#hero h1 {
    font-family: 'Bree Serif', 'Times New Roman', serif;
    font-size: 2.5rem;
    font-weight: normal;
    margin: 1rem 0;
}

/* Matt decided to make a new few lines of codes for all buttons on the page */

/* #hero a {
    color: white;
    border: white solid 1px;
    padding: 0.75rem 1.25rem;
    font-family: Lato, Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
    /* the text-decoration: none removes the hyperlink underline */
    /* text-decoration: none;
} */

#hero img {
    border-radius: 50%;
    width: 66%;
    /* padding: 1rem; */
}

/* Main component */

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Bree Serif', 'Times New Roman', serif;
}

main h2 {
    
    margin: 1rem 0 0;
}

main article {
/* setting flex on the layout in each article*/
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 2rem;
}

main article img {
    width: 75%;
    border-radius: 50%;
    border: 4px solid #8980c2;    
}

main article h3 {
    margin: 1rem 0;
    font-weight: normal;
    font-size: 1.5rem;
}

main article p {
    font-size: 1.1rem;
    margin-bottom: 1.5rem;
}

/* Social links component */
#social-links {
    background: #8980c2;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
}

#social-links p {
    font-family: 'Bree Serif', 'Times New Roman', serif;
    color: white;
    font-size: 1rem;
    margin-bottom: 1rem;
}

/* need to set a width for the div */
#social-links nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

/* Footer component */

footer {
    text-align: center;
    padding: 1.5rem;
    font-family: 'Bree Serif', 'Times New Roman', serif;
    font-size: 1.25rem;
}

/* ***TABLET STYLES*** */
/* should based the width on the content, rather than the fixed screen width */
/* media query should depend on the question "when does a component need to change?" */
@media only screen and (min-width: 550px) {
    header {
        margin-top: 0.5rem;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
    }
    #brand {
        width: 25%; 
        margin-left: 1rem;
        margin-bottom: 0;        
    }
}

@media only screen and (min-width: 800px) {
    #hero img {
        width: 50%;
    }
}

@media only screen and (min-width: 750px) {
    main {
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        font-family: 'Bree Serif', 'Times New Roman', serif;
    }
    main h2 {
        width: 100%;
        text-align: center;
    }
    /* setting with of article to 33.33% to make 3 columns */
    main article {
        width: 33.33%;
    }
    main article .outline-button{
        font-size: 1rem;
        white-space: nowrap;
    }


}

/* ***DESKTOP STYLES*** */

@media only screen and (min-width: 1000px) {
    header {
        padding: 0.5rem 0 1rem;
        justify-content: space-between;
    }   

    /* best to use %s so it's more responssive, Matt advises against using pixels to lock an image size */
    #brand {
        width: 7%;
        /* width: 10%; */
    }
    header nav {
        width: auto;
    }
    header nav a {
        margin-right: 1.5rem;
    }
    #hero img {
        width: 25%;
    }
}